<div #timer class="timer">

</div>
<div style="text-align: center;">
    <p>
        End Time: <input type="time" [(ngModel)]="endAt" />
        <!-- <input type="time" (ngModel)="endAt"/> -->
    </p>
    <p>Set Countdown: <input type="number" size="2" [(ngModel)]="timeSet" style="width:40px" /> <button
            (click)="this.setTime(this.timeSet)">Start</button></p>

    <table class="calendar">
        <th>Mon</th>
        <th>Tues</th>
        <th>Wed</th>
        <th>Thurs</th>
        <th>Fri</th>

        <tr>
            <td><button (click)="this.setTimeT(8,35)">A</button></td>
            <td><button (click)="this.setTimeT(9,10)">D</button></td>
            <td><button (click)="this.setTimeT(10,10)">B</button></td>
            <td><button (click)="this.setTimeT(9,10)">F</button></td>
            <td><button (click)="this.setTimeT(9,10)">C</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(9,25)">B</button></td>
            <td><button (click)="this.setTimeT(10,35)">E</button></td>
            <td><button (click)="this.setTimeT(11,35)">A</button></td>
            <td><button (click)="this.setTimeT(10,35)">D</button></td>
            <td><button (click)="this.setTimeT(10,35)">B</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(10,15)">C</button></td>
            <td><button (click)="this.setTimeT(12,20)">F</button></td>
            <td><button (click)="this.setTimeT(13,10)">C</button></td>
            <td><button (click)="this.setTimeT(12, 20)">E</button></td>
            <td><button (click)="this.setTimeT(13, 10)">A</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(11,30)">D</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(12,20)">E</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(13,10)">F</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(13,40)">WOM</button></td>
            <td><button (click)="this.setTimeT(14,40)">WOM</button></td>
            <td><button (click)="this.setTimeT(14,40)">7th</button></td>
            <td><button>--</button></td>
            <td><button>--</button></td>
        </tr>

        <tr>
            <td><button (click)="this.setTimeT(15,35)">8th</button></td>
            <td><button (click)="this.setTimeT(15,35)">8th</button></td>
            <td><button (click)="this.setTimeT(15,35)">Club</button></td>
            <td><button (click)="this.setTimeT(15,35)">8th</button></td>
            <td><button>--</button></td>
        </tr>

            

    </table>
</div>