<div #timer class="timer">
    60:00
</div>
<audio #audioPlayer>
    <source src="assets/no.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<audio #explosionPlayer>
    <source src="assets/explosion.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div style="text-align: center;">
    <p>
        End Time: <input type="time" [(ngModel)]="endAt" />
    </p>
    <p>
        Set Countdown:
        <input type="number" [(ngModel)]="timeSet" style="width:40px" />
        <button (click)="this.setTimeFromNow(this.timeSet)">Start</button>
    </p>
    <p>
        <input type="checkbox" [(ngModel)]="soundEnabled" /> Play Sound
        <select [(ngModel)]="sound">
            <option [ngValue]="audioPlayer" selected>Noooooooo!</option>
            <option [ngValue]="explosionPlayer">Explosion!</option>
        </select>
    </p>

    <table class="calendar">
        <th *ngFor="let day of this.days;">{{day}}</th>

        <tr *ngFor="let ix of [0,1,2,3,4,5,6];">
            <td *ngFor="let day of this.days;" width="17%">
                <button (click)="this.bestTimes[day][ix].click(this)">
                    {{this.bestTimes[day][ix].getDisplayText()}}
                </button>
            </td>
        </tr>

    </table>
</div>